# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
ENV/
.venv/
.env/
*.env

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db