__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

venv/
env/
ENV/

*.sqlite3
db.sqlite3
media/
staticfiles/
*.pyc
*.log

.env

celerybeat-schedule
celerybeat.pid

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db