{% extends 'user_profile/base.html' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-5 col-8 shadow bg-body rounded my-3 border-right-5 border-end border-start border-5 border-secondary">
            <div class="d-xxl-flex justify-content-around">
                
                <div>
                    <div>
                        <div class="d-flex justify-content-center">
                            <h3 class="mt-5">{{user.username}}</h3>
                        </div>
                    </div>
                    <div>
                        <img class=" mx=5" style="height: 260px; width: 260px;" src="/media/{{user.profile.profile_image}}" alt="">
                    </div>
                    <div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %} 
                            <div>
                                <input class="form-control" type="file" name="image" id="fileInput" style="width: 260px;"/>
                                <button type="submit" name="form" value="pic" class="btn btn-secondary px-3 my-2">Change profile picture</button> 
                            </div>     
                        </form>
                    </div>
                    
                </div>
                <div>
                    <div>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mt-5">
                                    <h6>Your Bio:</h6>
                                    <textarea name="bio" id="" placeholder="" class="form-control" style="resize: none; height: 280px; width: 300px;">{{user.profile.bio}}</textarea>
                                </div>
                                <div>
                                <button type="submit" name="form" value="bio" class="btn btn-secondary px-3 my-2">Change bio</button> 
                                </div>
                                
                            </form>
                    </div>
                    <div class="mt-5">
                        {% if user.profile.tasks_done == 1 %}
                            <h6>You have done: <span class="text-success">{{user.profile.tasks_done}}</span> task</h6>
                        {% else %}
                            <h6 >You have done: <span class="text-success">{{user.profile.tasks_done}}</span> tasks</h6>
                        {% endif %}

                        <hr>

                        {% if user.profile.tasks_overdue == 1 %}
                            <h6 class="mb-5">You have failed: <span class="text-danger">{{user.profile.tasks_overdue}}</span> task</h6>
                        {% else %}
                            <h6 class="mb-5">You have failed: <span class="text-danger">{{user.profile.tasks_overdue}}</span> tasks</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary px-5 mt-5 mb-2" name="form" value="logout" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>

    
{% endblock %}