{% extends 'main/base.html' %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-5 col-8 shadow bg-body rounded my-3 border-right-5 border-end border-5 border-secondary">
            <div>
                <form method="post">
                    {% csrf_token %}
                    {% for field in adding_form %}
                        <div class="my-3">
                            <h5>{{field.label}}</h5>
                            {{field}}
                           <p class="text-danger">{{field.errors}}</p> 
                        </div>
                    {% endfor %}
                    <div class="d-flex justify-content-between">
                        <div>
                           <button class="btn btn-success my-3 me-5  px-5" type="submit">Change</button>
                            <a class="btn btn-danger my-3 px-5 me-5" type="submit" href="{% url 'delete' id%}">Delete</a> 
                        </div>
                        <div>
                            <a class="btn btn-secondary my-3 px-5 me-5" type="submit" href="{% url 'home' %}">Cancel</a>
                        </div>
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
{% endblock %}
